ACME_CONTACT='xxx@gmail.com'
ACME_DIRECTORY_URL='https://anchor.dev/xxx/localhost/xxx/xxx/xxx'
ACME_KID='xxx'
ACME_HMAC_KEY='xxx'
HTTPS_PORT='xxx'
SERVER_NAMES='xxx.lcl.host,xxx.localhost'

NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx